body {
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    font-size: 15px;
    margin: 2px;
    padding: 2px;
}

/* Headers */
h1 {
    font-family: verdana, arial;
    font-size: 22px;
    font-weight: bold;
    color: #3A8B41;
    padding: 1px;
    margin: 1px;
}

h2 {
    font-family: verdana, arial;
    font-size: 15px;
    font-weight: bold;
    color: #A62A2A;
    font-weight: normal;
    padding: 1px;
    margin: 1px;
}

h3 {
    font-family: verdana, arial;
    font-size: 13px;
    font-weight: bold;
    font-weight: normal;
    padding: 1px;
    margin: 1px;
}

a {
    color: #0000CC;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
}

a.popup-link {
    color: #0000CC;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

img {
    border: 0px;
    vertical-align: middle;
}

button {
    text-decoration: none;
    text-align: center;
    width: auto;
}

.button {
    padding: 1px;
    text-decoration: none;
    text-align: center;
    width: auto;
}

#header {
    min-height: 55px;
    height: auto;
    width: 980px;
    margin: 0 auto;
    padding: 0
}

#main-shell {
    min-height: 768px;
    height: auto;
    width: 980px;
    margin: 0 auto;
}

#login h3 {
    font-family: Baskerville, "Tahoma", Symbol, serif;
    font-style: normal;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    font-weight: normal;
}

#login h4 {
    color: maroon;
    font-family: Baskerville, "Tahoma", Symbol, serif;
    font-style: normal;
}

#login {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

#login tr {
    height: 20px;
}

#login td {
    font-size: 12px;
    padding: 5px;
}

#farms-online h1 {
    text-transform: uppercase;
    font-family: verdana, arial;
    font-size: 15px;
    font-weight: bold;
    color: #0000FF;
    padding: 1px;
    margin: 1px;
}

#farms-online a.button {
    padding: 2px;
    display: block;
    background-color: #0000CC;
    text-decoration: none;
    text-align: center;
    text-indent: 2pt;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #1E461E;
    line-height: 1.5em;
    color: #FFFFFF;
    white-space: nowrap;
    min-width: 150px;
    background: transparent url(../images/bg-active-menu.bmp) repeat-x top left;
}

#farms-online a.button:hover {
    border: 1px solid #0000CC; /*green;/*#E6EEFF;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #36893F; /*#0000CC;*/
    color: #FFFFFF;
    background: transparent url(../images/bg-menu.bmp) repeat-x top left;
}

#farms-online img.link {
    vertical-align: top;
    border: 1px black solid;
}

#farms-online img.link:hover {
    vertical-align: top;
    border: 1px orange solid;
    cursor: hand;
}

#farms-offline h1 {
    text-transform: uppercase;
    font-family: verdana, arial;
    font-size: 15px;
    font-weight: bold;
    color: #0000FF;
    padding: 1px;
    margin: 1px;
}

#farms-offline a.button {
    padding: 2px;
    display: block;
    background-color: #0000CC;
    text-decoration: none;
    text-align: center;
    text-indent: 2pt;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #1E461E;
    line-height: 1.5em;
    color: #FFFFFF;
    white-space: nowrap;
    min-width: 150px;
    background: transparent url(../images/bg-active-menu.bmp) repeat-x top left;
}

#farms-offline a.button:hover {
    border: 1px solid #0000CC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #36893F; /*#0000CC;*/
    color: #FFFFFF;
    background: transparent url(../images/bg-menu.bmp) repeat-x top left;
}

#farms-offline img.link {
    vertical-align: top;
    filter: alpha(opacity=30);
    opacity: .30;
    border-color: #C6C6C6;
    border: 1px black solid;
}

#search {
    cursor: pointer
}

table {
    font-size: 12px;
}

.table-simple {
    border: 1px solid #C6C6C6;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.table-simple td {
    padding: 3px;
}

.table-screens {
    border: 1px solid #C6C6C6;
    border-collapse: collapse;
    /*    table-layout: auto;*/
}

.table-screens tr.selected {
    background: darkorange;
}

.table-screens td.label {
    height: 20px;
    border: 1px solid #C6CFE7;
    border-collapse: collapse;
    background-color: #D5EFFF;
    color: #000000;
    font-weight: normal;
    font-size: small;
    min-width: 180px;
}

.table-screens td.value {
    min-width: 50px;
}

.table-screens th {
    text-align: center;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    background-color: #FFFF99;
    height: 12pt;
    vertical-align: bottom;
    min-width: 250px;

}

.table-screens tr.selected {
    background: orange;
}

.table-screens tr.unselected {
    background: white;
}

.table-screens a {
    vertical-align: bottom;
}

.table-screens img {
    vertical-align: top;
}

.last-updated-label {
    font-size:12px;
    color: tomato;
}

.table-pages {
    height: 20px;
    padding: 1px 1px;
    line-height: 19px;
    color: #949494;
}

.table-pages a {
    background: url(../images/pagging.gif) repeat-x 0 0;
    height: 20px;
    padding: 0 8px;
    border: solid 1px #d5d5d5;
    text-decoration: none;
    color: #949494;
}

.table-pages a:hover {
    border-color: #8c3521;
    background: #ba4c32;
    color: #fff;
    cursor: hand;
}

.table-pages a.active {
    border-color: #8c3521;
    background: #ba4c32;
    color: #fff;
}

.table-list {
    border: 1px solid #C6C6C6;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.table-list th {
    height: 20px;
    border: 1px solid #C6C6C6;
    border-collapse: collapse;
    background-color: #D5EFFF;
    color: #000000;
    font-weight: bold;

}

.table-list tr.odd {
    background-color: #FFFFFF;
}

.table-list tr.even {
    background-color: #EEEEFF;
}

.table-list tr.selected {
    background: #ADD8E6;
    color: #FFFFFF;
}

.table-list td {
    padding: 3px;
}

.table-list-small {
    border: 0px solid #C6C6C6;
    border-collapse: collapse;
    width: 100%;
}

.table-list-small td {
    font-family: verdana, arial;
    font-size: 12px;
    color: #949494;
    padding: 1px;
    margin: 1px;
}

.comment {
    font-family: verdana, arial;
    font-size: 10px;
    color: #949494;
    padding: 10px;
    margin: 10px;
    line-height: 1.0em;
}

.errMsg {
    color: #000000;
    text-align: center;
    font-weight: bold;
    border-width: 1px;
    border-color: #FF0000;
    border-style: solid;
    height: 50px;
    width: 350px;
}

.warnMsg {
    color: #000000;
    font-weight: bold;
    border-width: 1px;
    border-color: #008800;
    border-style: solid;
}

.infoMsg {
    color: #000000;
    text-align: center;
    font-weight: bold;
    border-width: 1px;
    border-color: #0000FF;
    border-style: solid;
    height: 50px;
    width: 350px;
}

.helpLink:hover {
    text-decoration: underline;
}

.helpLink {
    background-color: #FFFFFF;
    color: #0000FF;
    font-weight: bold;
    font-size: 13px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    cursor: help;
    cursor: pointer;
}

#helpBox {
    background-color: #F0EFFF;
    color: #0000FF;
    overflow: hidden;
    z-index: 999;
    position: absolute;
    margin: auto;
    width: 250px;
    height: 250px;
    padding-left: 0px;
    border: 2px solid black;
    display: none;
}

#helpBoxInner {
    position: relative;
    color: Black;
    background-color: #ffffff;
    left: 0px;
    top: 0px;
    overflow: auto;
    width: 195px;
    height: 338px;
    border: 0px;
    padding: 5px;
    margin: 0px;
    font-size: 11px;
}

#helpBox a {
    color: #0000FF;
}

#helpBoxInner p {
    padding: 0px 0px 0px 0px;
}

#footer {
    height: 60px;
    white-space: nowrap;
    vertical-align: bottom;
    text-align: center;
}

.banner {
    font-family: Verdana, sans-serif;
    text-align: center;
}

.banner a {
    text-align: center;
}

.banner a:hover {
    text-decoration: underline;
}

.hitcount {
    margin: 0 auto;
    height: 20px;
    max-width: 100px;
    padding: 3px 3px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
}

.hitcount p {
    background: url(../images/pagging.gif) repeat-x 0 0;
    height: 20px;
    color: #949494;
}

/* tables */
table.tablesorter {
    border: 1px solid #C6C6C6;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    font-family: arial;
    background-color: #CDCDCD;
    /*margin:10px 0pt 15px;*/
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    height: 20px;
    border: 1px solid #C6C6C6;
    border-collapse: collapse;
    background-color: #D5EFFF;
    color: #000000;
    font-weight: bold;
    background-color: #D5EFFF;
}

table.tablesorter thead tr .header {
    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.ac_results {
    padding: 0px;
    border: 1px solid #84a10b;
    background-color: #84a10b;
    overflow: hidden;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    color: #fff;
    font-family: verdana;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    */
    /*width: 100%;*/
    font-size: 12px;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    background: white url('../images/indicator.gif') right center no-repeat;
}

.ac_odd {
    background-color: #84a10b;
    color: #ffffff;
}

.ac_over {
    background-color: #5a6b13;
    color: #ffffff;
}

.input_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #84a10b;
    padding: 2px;
    width: 150px;
    color: #000;
    background: white url(../images/search.png) no-repeat 3px 2px;
    padding-left: 17px;
}

.vr {
    display: inline;
    height: 100%;
    width: 1px;
    border: 1px inset;
    margin: 5px
}

#loading {
    text-align: justify;
    background: #000 url(../images/loader1.gif) no-repeat center center;
    height: 32px;
    width: 32px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

.chart-legend-label {
    font-size: 15px;
    margin-bottom: 5px;
}

#search {
    cursor: pointer;
}

#refresh {
    cursor: pointer;
}

#filter {
    cursor: pointer;
}

.popup {
    margin:auto;
    width:200px;
    height:350px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:white;
    border:2px solid #848C96;
    z-index:100000000000000000;
}

.cancel {
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:14px;
    width:14px;
    padding: 0 0 0 0;
    background-color:green;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:2px;
    z-index:100000000000000000;
}

.cancel:hover {
    background-color: #ef0c0d;
}

.alarm-on {
    color:#ff0000;
}

.alarm-off {
    color: #000000;
}